.titleSectionEN {
    padding: 100px;
    position: relative;
    left: calc(-50vw + 49.3%);
    width: 100vw;
    margin: 0 0 0 0px;
    background: linear-gradient(90deg, rgba(233,247,255,1) 6%, rgb(165, 228, 243) 81%);
    background-position: 50% 99%;
    opacity: 0.8;
}

.titleSectionAR {
    padding: 100px;
    position: relative;
    right: calc(-50vw + 49.3%);
    width: 100vw;
    margin: 0 0 0 0px;
    background: linear-gradient(90deg, rgba(233,247,255,1) 6%,  rgb(165, 228, 243) 81%);
    background-position: 50% 69%;
    opacity: 0.8;
}

.slogan {
    font-weight: 900;
    font-size: 62px; 
    display: flex; 
    flex-direction: row; 
    justify-content: center; 
    margin-top: 10vh;
}


@media (max-width: 908px) {
    .titleSectionEN {
        position: relative;
        left: calc(-50vw + 49.3%);
        width: 99vw;
    }
    
    .titleSectionAR {
        position: relative;
        right: calc(-50vw + 49.3%);
        width: 99vw;
    }

    .slogan {
        font-size: 42px; 
    }
    
    
}
