@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&display=swap');


.titleSectionEN {
    position: relative;             /*escape container*/
    left: calc(-50vw + 49.3%);      /*escape container*/
    width: 100vw;                   /*escape container*/
    margin: 0 0 0 0px;
    background-position: 2% 99%;
}

.titleSectionAR {
    position: relative;
    right: calc(-50vw + 49.3%);
    width: 100vw;
    margin: 0 0 0 0px;
    background-position: 50% 99%;
}

.slogan {
    font-weight: bold;
    font-style: italic;
    font-size: 56px;
    display: flex; 
    flex-direction: row; 
    justify-content: center; 
    white-space: pre-line; 
    color: white;
    font-weight: 600; 
    padding: 170px;
    text-shadow: 1px 1px 2px rgb(255, 255, 255);

}


@media (max-width: 908px) {
    .titleSectionEN {
        position: relative;
        left: calc(-50vw + 49.3%);
        width: 99vw;
    }
    
    .titleSectionAR {
        position: relative;
        right: calc(-50vw + 49.3%);
        width: 99vw;
    }

    .slogan {
        font-size: 26px;
        padding: 20vw; 
    }
    
    
}
