
.navitem{
    text-decoration: none;
    color: white;
    padding: 7px 10px;
    border: 1px solid transparent;
    font-size: 16px;
}

.navitem:hover{
    transform: scale(1.0);
    color:#30a9ab;
    background-color: white;
    border: 1px solid;
    border-radius: 50px 50px 50px 50px;
    border-color: #30a9ab;
}

.dropdown{
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.dropdown:hover{
    color: white;
}

.flag{
    width: 42px;
    cursor: pointer;
}

.flag:hover{
    transform: scale(1.1);
}


@media (max-width: 908px) {
    .navitem{
        padding: 10px;
        font-size: 14px;
    }
    
    .navitem:hover{
        transform: scale(1.0);
        text-decoration: none;
    }

    .dropdown{
        padding: 10px;
        font-size: 14px;
    }

    .dropdown:hover{
        transform: scale(1.0);
        text-decoration: none;
    }

    .flag{
        width: 26px;
    }
}




